.con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.innerCon {
  margin-left: 220px;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cFlex {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-right: 20px;
}

.sugCon {
  min-width: 300px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}

.sugCon h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 20px 0 8px 20px;
}

.sugCon hr {
  border-top: 1px solid #eaeaea;
  margin: 0;
}

.sugCon ul {
  list-style: none;
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sugCon li {
  margin-right: 24px;
  font-size: 16px;
  color: #666666;
  padding-bottom: 8px;
}

.sugCon .active {
  color: #4c35e6;
  border-bottom: 3px solid #4c35e6;
  font-weight: 600;
}

.tableCon {
  border-spacing: 0;
  margin-top: -14px;
  width: 100%;
  overflow-y: auto;
  max-height: 590px;
}

.tableCon .nodata {
  margin-left: 20px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  padding: 12px 20px;
  background-color: #f7f9fc;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  color: #444444;
}

.header p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.contentCon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  color: #444444;
  padding: 13px 20px;
  border-bottom: 1px solid #eaeaea;
}

.contentCon p {
  margin: 0;
}

.sCon {
  min-width: 300px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 4px;
}

.sCon p {
  margin-left: 20px;
}

.ssCon {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 4px;
}

.ssCon p {
  margin: 4px 0 4px 20px;
}

.ssCon .value {
  font-size: 20px;
  font-weight: 700;
  margin: 12px 20px;
}

.weight {
  background-color: #d2c8f7;
  padding: 4px 24px;
  border-radius: 3px;
  color: #000;
}

.sGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 20px 0;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.sCCon {
  min-width: 300px;
  min-height: 500px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 4px;
}

.sCCon p {
  margin-left: 20px;
}

.tag {
  background-color: #dbdbdb;
  padding: 4px 24px;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.positive {
  background-color: #25aa04;
  color: #fff;
}

.negative {
  background-color: #d11a2a;
  color: #fff;
}

.regCon {
  min-width: 300px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.regCon p {
  margin-left: 20px;
}

.regCon button {
  margin-right: 20px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #4c35e6;
  color: #fff;
  cursor: pointer;
}

.regCon button:hover {
  background-color: #2f1ca8;
}
/*# sourceMappingURL=Suggestions.module.css.map */