.p_bg {
  height: 210px;
  background-color: #4e3dc1;
}

.container {
  nav {
    max-width: 1320px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;

    .btn {
      background-color: #4c35e6;
      padding: 12px 24px;
      font-size: 16px;
      color: #fff;
      border-radius: 5px;
      font-weight: 700;

      &:hover {
        background-color: #3720d2;
      }
    }

    .o_btn {
      // background-color: #;
      padding: 12px 24px;
      font-size: 16px;
      color: #4c35e6;
      border: 1px solid #4c35e6;
      border-radius: 5px;
      font-weight: 700;
      margin: 0 12px;

      &:hover {
        background-color: #4c35e6;
        color: #fff;
      }
    }
  }
}

.con {
  max-width: 548px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  padding: 24px 52px;
  margin: -120px auto 60px auto;
  background-color: #fff;
  border-radius: 10px;

  h1 {
    text-align: center;
    margin: 16px 0;
  }
  .subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    max-width: 325px;
    margin: 0 auto;
  }

  .success {
    border: 1px solid #008060;
    padding: 4px 24px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #dbefea;
    color: #005a43;
  }

  input {
    display: block;
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 4px 0 12px 0;
    font-size: 16px;
  }

  form {
    .sublabel {
      color: #545454;
      font-size: 14px;
      margin: 4px 0 16px 0;
    }
    p {
      margin: 0;
    }
    .w_c {
      width: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 80%;
      }
    }
    .flex {
      display: flex;
      margin-bottom: 24px;
      align-items: center;
      input {
        display: inline;
        margin: 0;
      }
    }
  }
  label {
    font-weight: 700;
    font-size: 14px;
  }

  .submit {
    padding: 20px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 20px;
  }

  .btn {
    margin: 0;
    background-color: #4c35e6;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }

  .instead {
    text-align: center;
    font-size: 16px;
    color: #545454;

    a {
      color: #4c35e6;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.img_con {
  margin: 0 auto;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    span {
      display: block;
      width: 40px;
      height: 4px;
      background-color: #edebfc;
      margin-right: 8px;
      border-radius: 12px;
    }
    .active {
      background-color: #4c35e6;
    }
  }
}
