.p_bg {
  height: 210px;
  background-color: #4e3dc1;
}

.container nav {
  max-width: 1320px;
  margin: 0 auto;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container nav .btn {
  background-color: #4c35e6;
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.container nav .btn:hover {
  background-color: #3720d2;
}

.container nav .o_btn {
  padding: 12px 24px;
  font-size: 16px;
  color: #4c35e6;
  border: 1px solid #4c35e6;
  border-radius: 5px;
  font-weight: 700;
  margin: 0 12px;
}

.container nav .o_btn:hover {
  background-color: #4c35e6;
  color: #fff;
}

.con {
  max-width: 548px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  padding: 24px 52px;
  margin: -120px auto 60px auto;
  background-color: #fff;
  border-radius: 10px;
}

.con h1 {
  text-align: center;
  margin: 16px 0;
}

.con .subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  max-width: 325px;
  margin: 0 auto;
}

.con .success {
  border: 1px solid #008060;
  padding: 4px 24px;
  margin-bottom: 24px;
  border-radius: 5px;
  background-color: #dbefea;
  color: #005a43;
}

.con input {
  display: block;
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #fafafa;
  margin: 4px 0 12px 0;
  font-size: 16px;
}

.con form .sublabel {
  color: #545454;
  font-size: 14px;
  margin: 4px 0 16px 0;
}

.con form p {
  margin: 0;
}

.con form .w_c {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con form .w_c input {
  width: 80%;
  padding: 0;
}

.con form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con form .flex input {
  display: inline;
  margin: 0;
}

.con label {
  font-weight: 700;
  font-size: 14px;
}

.con .submit {
  padding: 20px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 20px;
}

.con .btn {
  margin: 0;
  background-color: #4c35e6;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.con .instead {
  text-align: center;
  font-size: 16px;
  color: #545454;
}

.con .instead a {
  color: #4c35e6;
  font-weight: 700;
  cursor: pointer;
}

.img_con {
  margin: 0 auto;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_con div {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img_con div span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #edebfc;
  margin-right: 8px;
  border-radius: 12px;
}

.img_con div .active {
  background-color: #4c35e6;
}

.errorStatus {
  background-color: #cc0000;
  color: #fff;
  border-radius: 5px;
  padding: 8px 24px;
}

.errorStatus p {
  font-size: 16px;
}
/*# sourceMappingURL=Auth.module.css.map */