.con {
  // max-width: 590px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.08);
  padding-bottom: 20px;

  h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 20px 0 8px 20px;
  }

  hr {
    border-top: 1px solid #eaeaea;
    margin: 0;
  }

  .loader {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid #b3a8f9;
    border-top-color: #4c35e6;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;
    margin-bottom: 24px;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(-360deg);
    }
  }

  .flexCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.innerCon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin-right: 20px;
    background-color: #4c35e6;
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;

    &:hover {
      background-color: #200bae;
    }
  }
}

.genCon {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 0 24px 0;
  }
  button {
    background-color: #4c35e6;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: #200bae;
      cursor: pointer;
    }
  }
}
